<ul class="posts">
	{% for post in site.posts reversed %}

		<li class="salad {% for tag in post.tags %}{{ tag | handleize | replace:' ','-' }} {% endfor %}">
			<div class="salad-wrap">
			{% if post.image %}
				<div class="salad-thm">
					<img src="/img/{{ post.image }}" alt="{{ post.title }}">
				</div>
				<div class="salad-info">
					<h2>{{ post.date | date: "%B %-d" }}</h2>
					<h3>Salad #{{ forloop.index }}</h3>
				</div>
			{% else %}
				<div class="salad-thm">
					<img src="/img/blank.png" alt="blank">
				</div>
				<div class="salad-info">
					<h2>{{ post.date | date: "%B %-d" }}</h2>
					<h3>{{ post.date | date: "Salad #%U" }}</h3>
				</div>
			{% endif %}
			</div>
		</li>
	{% endfor %}
</ul>